@import "styles";

@mixin mobile-styles {
  margin: $mobile-margin;
  font-size: 1.6rem;
}

@mixin tablet-styles {
  margin: $tablet-margin;
  font-size: 2rem;
}

@mixin laptop-styles {
  margin: 0;
}

.App {
  @include mobile-styles;
  color: $accent;
  min-width: 150px;
}

.section-title {
  position: relative;
  display: table;
}

// highlight title
.section-title::after {
  content: "";
  background-color: $secondary;
  height: 0.5rem;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  width: 100%;
  z-index: -1;
}

.subsection-title {
  text-decoration: underline;
  margin: 2rem 0;
}

img {
  margin: 1rem 0;
}

// text selection
::selection {
  /* WebKit/Blink Browsers */
  background: $secondary;
}
::-moz-selection {
  /* Gecko Browsers */
  background: $secondary;
}

@media screen and (min-width: $tablet) {
  .App {
    @include tablet-styles;
  }
}

@media screen and (min-width: $laptop) {
  .App {
    @include laptop-styles;
  }
  .section-title {
    margin-left: auto;
    margin-right: auto;
  }
}
