.contact-wrapper {
  min-height: 20vh;
  svg {
    width: 50%;
    height: auto;
  }
  a {
    display: inherit;
  }
}
.contact-row {
  display: flex;
  min-width: 0;
  gap: 5%;
  padding-bottom: 2rem;
}
