@import "styles";

#intro-name {
  margin: auto;
}

#intro-education {
  margin: auto;
}

.intro-wrapper {
  display: grid;
  grid-gap: 1em;
  img {
    height: auto;
    max-width: 100%;
  }
  margin-bottom: 1em;
}

@media screen and (min-width: $laptop) {
  .intro-wrapper {
    display: grid;
    gap: 0;
    grid-template-rows: repeat(2, 50vh);
    grid-template-columns: 1fr;
    .intro-text {
      margin: auto;
      margin-bottom: 1em;
    }
    #intro-name {
      margin-left: auto;
      margin-right: auto;
      font-size: 4em;
      z-index: -1;
    }
    #intro-education {
      text-align: center;
    }
    .nav-wrapper {
      grid-row: 2/3;
      z-index: 1;
      margin: 0 auto;
    }
  }
}
