@import "styles";

.intro-text {
  margin: auto;
  margin-bottom: 1em;
}

#intro-name {
  margin: auto;
  text-align: center;
}

#intro-education {
  margin: auto;
  text-align: center;
}

.intro-wrapper {
  display: grid;
  img {
    height: auto;
    max-width: 100%;
  }
}

@media screen and (min-width: $laptop) {
  .intro-wrapper {
    display: grid;
    gap: 0;
    grid-template-rows: repeat(2, 50vh);
    #intro-name {
      font-size: 4em;
    }
    .nav-wrapper {
      grid-row: 2/3;
      z-index: 1;
      margin: 0 auto;
    }
  }
}
