@import "styles";

#intro-name {
  margin: auto;
}

.header-intro {
  display: grid;
  grid-template-rows: 6fr 6fr;
  gap: 25%;
}

.intro-wrapper {
  display: grid;
  img {
    height: auto;
    max-width: 100%;
  }
}

@media screen and (min-width: $tablet) {
  .header-intro {
    display: grid;
    grid-template-rows: 12fr;
  }
  .intro-wrapper {
    display: block;
  }
}
