.project-card {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  gap: 0.5rem;
  h3 {
    text-decoration: underline;
  }
}

.tags {
  font-style: italic;
  font-size: smaller;
  margin: 0.5rem 0;
}

img {
  height: auto;
  width: 100%;
}
