@import "styles";

.project-card {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  gap: 0.5rem;
  h3 {
    text-decoration: underline;
  }
  img {
    height: auto;
    width: 100%;
  }
}

.tags {
  font-style: italic;
  font-size: smaller;
  margin: 0.5rem 0;
}

@media screen and (min-width: $tablet) {
  .project-list {
    display: flex;
    flex-direction: column;
  }
  .project-card {
    display: flex;
    flex-direction: row;

    .project-info {
      max-width: 40%;
    }

    .project-media {
      max-width: 60%;
    }
  }
}
