@import "styles";

.project-card {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  h3 {
    text-decoration: underline;
  }
  img {
    max-width: 100%;
  }
  .url {
    font-style:italic;
    text-decoration: underline;
    font-size: smaller;
    margin: 0.5rem 0;
  }
}

.project-info {
  display: flex;
  flex-direction: column;
  h3 {
    margin-top: 2%;
    margin-bottom: 2%;
  }
}

.tags {
  font-style: italic;
  font-size: smaller;
  margin: 0.5rem 0;
}

@media screen and (min-width: $tablet) {
  .project-list {
    display: flex;
    flex-direction: column;
  }
  .project-card {
    display: flex;
    flex-direction: row;
    gap: 5%;
    padding: 5% 0;
  }
  .project-info {
    width: 40%;
    h3,
    i,
    p,
    a {
      text-align: end;
    }
  }
  .project-media {
    width: 60%;
  }
  .reverse {
    flex-direction: row-reverse;
    h3,
    i,
    p,
    a {
      text-align: start;
    }
  }
}

@media screen and (min-width: $laptop) {
  .projects-wrapper {
    margin: 0 20%;
  }
  .project-info {
    width: 45%;
  }
}
