@import "styles";

.timeline-entry {
  i {
    display: block;
    font-weight: 600;
    font-size: 1.1em;
    margin-bottom: 1rem;
  }

  margin: 2rem 0;
}

@media screen and (min-width: $tablet) {
  .timeline-entry {
    display: grid;
    grid-template-columns: 2fr 10fr;
    i {
      font-size: 1em;
    }
  }
}

@media screen and (min-width: $laptop) {
  .timeline-entry {
    grid-template-columns: 2fr auto;
  }
  .news-wrapper {
    margin-left: 10%;
    margin-right: 10%;
  }
}
