@import "styles";

.news-wrapper {
  margin: 5% 0;
}

.timeline-entry {
  i {
    display: block;
    font-weight: 600;
    font-size: 1.1em;
    margin-bottom: 1em;
  }

  padding: 0.8em 0;
}

@media screen and (min-width: $tablet) {
  .timeline-entry {
    display: grid;
    grid-template-columns: 2fr 10fr;
    i {
      font-size: 1em;
    }
  }
}

@media screen and (min-width: $laptop) {
  .news-wrapper {
    margin-left: 10%;
    margin-right: 10%;
  }
  .timeline-entry {
    i {
      text-align: center;
    }
  }
}
