@font-face {
  font-family: "Karla";
  src: url("./res/fonts/Karla-Regular.ttf") format("truetype"),
    url("./res/fonts/Karla-Bold.ttf") format("truetype");
}

html {
  font-size: 62.5%;
}

body,
p,
a,
ul,
li {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

li {
  list-style-type: none;
}

body {
  background-color: #fff7eb;
  font-family: "Karla", sans-serif;
}

h1 {
  font-family: "Karla-Bold", sans-serif;
}
